/*css reset min*/ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


@font-face {

    font-family: 'font1';

    src: url('../fonts/light/swiss721condensedbt.eot');

    src: url('../fonts/light/swiss721condensedbt.eot?#iefix') format('eot'),

         url('../fonts/light/swiss721condensedbt.woff') format('woff'),

         url('../fonts/light/swiss721condensedbt.ttf') format('truetype'),

         url('../fonts/light/swiss721condensedbt.svg#webfontavPwATHR') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'font2';

    src: url('../fonts/bold/swiss721boldcondensedbt.eot');

    src: url('../fonts/bold/swiss721boldcondensedbt.eot?#iefix') format('eot'),

         url('../fonts/bold/swiss721boldcondensedbt.woff') format('woff'),

         url('../fonts/bold/swiss721boldcondensedbt.ttf') format('truetype'),

         url('../fonts/bold/swiss721boldcondensedbt.svg#webfontavPwATHR') format('svg');

    font-weight: normal;

    font-style: normal;

}

strong {font-weight:bold;}


