/*
Theme Name: Reaktiiv wp35 Default
Theme URI: http://www.reaktiiv.ee
Description: Reaktiiv WP default
Author: Reaktiiv grupp OÜ
Author URI: http://www.reaktiiv.ee
Version: 1
*/

@import url("reset.css");

/* -- BODY JA LINGID -- */
p {
	margin:10px 0;
	line-height:150%;
	font-family:'Source Sans Pro',Arial, Helvetica, sans-serif;
}

body,td,th {
	font-family:'Source Sans Pro',Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight:400;
	text-align:center;
}

body {background:#f3f3f3;}

h1 {}
h2 {font-size:18px; font-weight:600; line-height:130%;}
h3{font-size:24px; font-weight:600; text-transform: uppercase;}

*:focus { outline: none; }

a {color:#5d5d5d; text-decoration:none; transition:ease .3s all;}
a:hover {color:#5d5d5d;}

ul, ol {margin:0 0 0 0;}
ul {list-style:disc;}

img {max-width: 100%;}

.wrapper{width:1610px; margin:0 auto; text-align:left;}

#header{background:#9cd0d6; float:left; width:100%; padding:25px 0;}
#header img{float:left;}

.menu-main-menu-est-container{float:left; margin:65px 0 0 155px;}
.menu-main-menu-est-container ul li{float:left; display:inline; margin-right:45px;}
.menu-main-menu-est-container ul li a{font-weight:600; font-size:24px; color:#000; text-decoration:none; transition:ease .25s all;}
.menu-main-menu-est-container ul li a:hover, .menu-main-menu-est-container ul li.current_page_item a{color:#fff;}

#header .links{float:right;}
#header .links a{float:right; clear:both;}
.link_to_paide_theater{font-size:28px; font-weight:600; text-transform:uppercase; color:#000; background:#fff; padding:8px 13px; margin-top:25px;}
.link_to_paide_theater:hover{background:#000; color:#fff;}

.calendar-container{float:left; width:100%; background-color:#fff;}

#calendar{float:left; margin:0px auto; padding:0px; width: 100%; }
#calendar div.box{float:left; position:relative; top:0px; left:0px; width:100%; }
div#calendar div.header{float:left; width: 100%; text-align:center; position:absolute; top:0; left:0;}
#calendar div.header a.prev,div#calendar div.header a.next{position:relative; display:block; cursor:pointer; text-decoration:none; }
#calendar div.header span.title{color:#000; font-size:18px; font-weight:600; position:relative; top:19px;}
#calendar .box-content{float:left; width:100%;}
.header > *{display:inline; font-size:18px; margin-top:17px; color:#000;}
.header .prev{float:left;}
.header .prev span{margin:0 8px; position:relative; right:0; transition:ease .3s all;}
.header .prev:hover span{right:4px;}
.header .next{float:right;}
.header .next span{margin:0 8px; position:relative; left:0; transition:ease .3s all;}
.header .next:hover span{left:4px;}
.header a span{letter-spacing:-.5px;}

ul.dates{display:table; table-layout:fixed; width:100%;}
ul.dates li{display:table-cell; text-align:center; transition:ease .35s all;}
ul.dates li.item-active, ul.dates li:hover{background-color:#e43329;}
ul.dates li a{font-size:19px; transition:ease .35s all; padding:57px 0 20px 0; float:left; width:100%;}
ul.dates li.item-active a, ul.dates li:hover a{color:#fff;}

section{float:left; width:100%;}

.column{float:left;}
.cs-80{width:80%; margin:35px 0 0 3%;}
.cs-17{width:17%;}
.fright{float:right;}
section p{font-size:21px; color:#000;}
section p span{color:#e43329;}

.selected_events{display: flex; flex-wrap: wrap; float:left; width:100%; margin:35px 0 0 0;}
.event-item{float:left; margin-bottom:55px; cursor:pointer; margin-right:150px;}
/* .event-item:nth-child(3n+4){clear:left;} */
.event-side{float:left; width:195px;}
.event-side:nth-child(2){width:auto;}
.event-side img{width:177px; height:auto; margin-bottom:15px; transform:scale(1); transition: ease .35s all;}
.event-item:hover .event-side img{transform:scale(1.037);}
.post_thumbnail_image{width:177px; height:275px; background:rgba(156,208,214,1); position:relative; margin-bottom:15px;}
.post_thumbnail_image img{float: left;  width: 80%; position: absolute;  bottom: 0; top: 0; left: 0; right: 0;  margin: auto; }
.event-buy-ticket{font-size:18px; color:#93d0d5; font-weight:600; border-bottom:1px solid #93d0d5; margin-top:3px; float:left;}

.event-date{float:left; clear:left;}
.event-time{float:left; clear:left; margin-top:2px;}

#sidebar{float:left; width:100%; margin-top:50px; position:relative;}
#sidebar #s{float:left; width:92%; padding:9px 4%; border:none; font-size:16px;}
#sidebar #searchsubmit{position: absolute; right: 10px; top: 0px; background-color: transparent; color: transparent; background-image: url(images/search.png); border: none; background-repeat: no-repeat; width: 20px; height: 20px;  bottom: 0; margin: auto; cursor: pointer;}

footer{float:left; width:100%;}

#sidebar-menu{float:left; width:100%; margin-top:30px;}
#sidebar-menu ul > li > a{font-weight:600; font-size:23px; text-transform:uppercase; color:#000; transition:ease .3s all; }
#sidebar-menu ul > li.current_page_item > a, #sidebar-menu ul > li > a:hover{color:#9cd0d6;}
#sidebar-menu ul > li{list-style:none; margin-bottom:25px;}
#sidebar-menu ul > li > ul{margin:24px 0 8px 25px; float:left; width: 100%;}
#sidebar-menu ul > li > ul > li > a{font-weight:400; font-size:22px; color:#000; text-transform: inherit; transition:ease .3s all;}
/* #sidebar-menu ul > li > ul > li > a:hover{color:#9cd0d6;} */

.frontpage_events_container{float:left; width:43.1%; position:relative; clear:left; border-top:30px solid #93d0d5; border-right:30px solid #93d0d5; margin-bottom:37px;}
.type-theater{border-left:30px solid #915f35; border-bottom:30px solid #915f35; z-index:2;}
.type-cinema{border-left:30px solid #961a80; border-bottom:30px solid #961a80; z-index:1;}
.type-concert{border-left:30px solid #e61a72; border-bottom:30px solid #e61a72; z-index:4;}
.type-cultural{border-left:30px solid #002b8a; border-bottom:30px solid #002b8a; z-index:3;}
.type-miscellaneous{border-left:30px solid #00b7e3; border-bottom:30px solid #00b7e3; z-index:6;}
.type-exhibition{border-left:30px solid #f49d00; border-bottom:30px solid #f49d00; z-index:5;}
.frontpage_events_container:nth-child(2n+2){float:right; clear:none;}
.frontpage_events_header{float:left; width:100%;}
.frontpage_events_header a{float:right; font-size:15px; color:#5d5d5d; border-bottom:1px solid #5d5d5d; transition:ease .3s all; margin:14px 19px 0 0; padding-bottom:2px;}
.frontpage_events_header a:hover{border-bottom:1px solid transparent;}
.type-theater h3{color:#915f35;}
.type-cinema h3{color:#961a80;}
.type-concert h3{color:#e61a72;}
.type-cultural h3{color:#002b8a;}
.type-miscellaneous h3{color:#00b7e3;}
.type-exhibition h3{color:#f49d00;}
.frontpage_events_header h3{margin:11px 0 11px 22px; float:left;}
.frontpage_events{float:left; width:100%; margin-top:50px;}
.frontpage_events_main{float:left; width:100%; background:#fff; padding:20px 0; min-height:270px;}
.frontpage_event_single img{width:140px;}
.frontpage_event_single .post_thumbnail_image{width:140px; height:208px; margin-bottom:6px;}
/* .frontpage_event_single .post_thumbnail_image img{width:110px;} */
.frontpage_event_single .event-side:nth-child(1){width:150px;}
.frontpage_event_single h2{font-size:16px;}
.frontpage_event_single{float:left; margin-left:23px; cursor:pointer;}
.frontpage_event_single:nth-child(2){float:right; margin-left:0; margin-right:42px;}
.frontpage_events_container:before{content:""; background: #f3f3f3; width: 52px; height: 90px; float: left; position: absolute; top: -62px; left: -49px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.frontpage_events_container:after{content:""; background: #f3f3f3; width: 52px; height: 90px; float: left; position: absolute; bottom: -62px; right: -49px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.frontpage_event_single:hover img{transform:scale(1.037);}

.all_events_btn{float: left; position:relative; background: #93d0d5; color: #000; text-transform: uppercase; font-size: 18px; padding: 9px 52px;}
.all_events_btn:before{content: ""; transition:ease .4s all; background: #f3f3f3; width: 36px;  height: 65px; position: absolute; top: -24px; left: -4px; transform: rotate(48deg); -ms-transform: rotate(48deg); -webkit-transform: rotate(48deg);  transform: rotate(48deg);}
.all_events_btn:hover:before{transform: rotate(28deg); -ms-transform: rotate(28deg); -webkit-transform: rotate(28deg);  transform: rotate(28deg);}
.all_events_btn:after{content: ""; transition:ease .4s all; background: #f3f3f3; width: 36px; height: 65px; position: absolute; bottom: -24px; right: -4px;  transform: rotate(48deg); -ms-transform: rotate(48deg); -webkit-transform: rotate(48deg); transform: rotate(48deg);}
.all_events_btn:hover:after{transform: rotate(28deg); -ms-transform: rotate(28deg); -webkit-transform: rotate(28deg);  transform: rotate(28deg);}
.cs-75{width:75%;}

#footer{float:left; width:100%; background:#fff; margin-top:45px;}
.footer_menu{float:left; margin:54px 0 54px 0;}
.menu-footer-menu-est-container{float:left;}
.menu-footer-menu-est-container ul{float:left; list-style:none;}
.menu-footer-menu-est-container > ul > li{float:left; margin-right:140px;}
.menu-footer-menu-est-container > ul > li > a{float:left; clear:left; color:#000; font-size:19px; font-weight:600; cursor:default; pointer-events:none;}
.menu-footer-menu-est-container > ul > li > ul{float:left; clear:left; margin-top:45px;}
.menu-footer-menu-est-container > ul > li > ul > li{float:left; clear:left; margin-bottom:5px;}

.cooperation_partner{float:right; margin:54px 0;}
.cooperation_partner p{color: #000; font-size: 19px; font-weight: 600; margin: 0 0 0 0;}
.cooperation_partner img{margin-top:10px;}




.singleLeftSide {float: left; width: 15%;}
.singleLeftSide img {display: block; margin: 0 auto;}
.events .entry {float: left; margin-left: 3%; width: 65%;}
.events .entry .event-hall {margin-top: 15px;}
.events .entry .event-buy-ticket {margin: 15px 0; float:none; border: none;}
.events .entry .event-buy-ticket a {font-size:20px; color: #252424; border-bottom:1px solid #252424;  text-transform: uppercase;}
.events .entry h2 {font-size: 24px; margin-bottom: 15px;}
.events .entry p {margin: 0; line-height: 120%;}
.events .entry a {color: #d62122; border-bottom:1px solid #d62122; font-weight: 600;}
.events .entry .goBack {margin: 15px 0;}

.gallery-posts-container {float: left; width: 100%;}
.gallery-post {float: left; width: 45%; position: relative; clear: left; margin-bottom: 37px;}
.gallery-post:nth-child(2n+2) {float: right; clear: none;}
.dev_gallery {position: relative; display: inline-block; border-top: 30px solid #93d0d5; border-right: 30px solid #93d0d5; border-bottom: 30px solid #e7e7e7; border-left: 30px solid #e7e7e7; cursor: pointer;}
.dev_gallery img {width: 100%;}
.dev_gallery:before {content: ""; background: #f3f3f3; width: 52px; height: 90px; float: left; position: absolute; top: -62px; left: -49px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.dev_gallery:after {content: ""; background: #f3f3f3; width: 52px; height: 90px; float: left; position: absolute; bottom: -62px; right: -49px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.gallery-post p {margin: 10px 30px;}

#video-gallery a {display: block; margin-top: 10px;}

.page-template-allevents .all-events-item .event-side:first-child {width: 225px;}
.page-template-allevents .event-times {float: left;}
.page-template-allevents .event-times .event-time {clear: left;}
.page-template-allevents .event-times .event-time:first-child {clear: none;}
.page-template-allevents section h3 {font-size: 32px;}
.page-template-allevents .month {float: left; font-size: 32px; text-transform: uppercase; margin: 15px 0;}
.page-template-allevents .selected_events {margin: 0}
.page-template-allevents .all-events-item {width: 100%; float: left;}
.page-template-allevents .event-date {clear: none; font-size: 24px; font-weight: 600; line-height: 130%;}
.page-template-allevents .event-time {clear: none; margin-top: 9px; margin-left: 5px; font-size: 16px;}
.page-template-allevents .event-side h2 {font-size: 24px;}
.page-template-allevents .event-side h2 a {color: #9cd0d6; font-size: 80%; text-decoration: underline; font-size: 16px;}

.page-id-44 section .entry {display: flex; flex-wrap: wrap;}
.page-id-44 section .entry > p {width: 31.3%; float: left; margin: 0 1% 30px;}
.page-id-44 section .entry a img {width: 100%; height: auto;}
.page-id-44 section .entry hr {display: none;}


.fairsInfo p {float: left; width: 33.3%;}
.fairsContainer a {color: #d62122; font-size: 16px; font-weight: bold; text-decoration: underline;}
.fairsContainer .fair {background-color: #fff; float: left; width: 100%; margin: 5px 0;}
.fairsContainer .leftSide {float: left; margin: 20px 30px;}
.fairsContainer .rightSide {float: right; margin: 20px 30px; text-align: end;}
.fairsContainer h3 {font-size: 32px;}
.fairsContainer .fair p {margin: 0; font-size: 32px;}
.fairsContainer .nb {width: 100%; float: left; margin-top: 10px;}
.fairsContainer .nb p {width: 70%; font-size: 16px; font-weight: bold;}
.fairsContainer .futureFairs {width: 100%; float: left;}
.fairsContainer .pastFairs {width: 100%; float: left; margin-top: 40px;}
.fairsContainer .pastFairs h3 {margin-bottom: 10px;}









.fairsInfo p {float: left; width: 33.3%;}
.page-template-register_form .fairsContainer a {color: #d62122; font-size: 16px; font-weight: bold; text-decoration: underline;}
.page-template-register_form .fair {background-color: #fff; float: left; width: 100%; margin: 5px 0;}
.page-template-register_form .leftSide {float: left; margin: 20px 30px;}
.page-template-register_form .rightSide {float: right; margin: 20px 30px; text-align: end;}
.page-template-register_form h3 {font-size: 32px;}
.page-template-register_form h3 span {text-transform: capitalize;}
.page-template-register_form h3.location, .page-template-register_form h3.time {font-weight: normal; text-transform: initial;}
.page-template-register_form .fairsInfo {overflow: hidden; margin-top: 15px;}
.page-template-register_form .fairContent {margin-bottom: 30px;}
.page-template-register_form .fairContent li {margin-left: 18px;}
.page-template-register_form .formFields {padding: 5px 30px 20px; margin-bottom: 10px; overflow: hidden; background-color: #fff;}
.formFields > span {margin-left: 5px; color: #999999;}
.page-template-register_form input[type=text], .page-template-register_form input[type=number], .page-template-register_form textarea {float: left; clear: left; width: 330px;}
.page-template-register_form label {float: left; clear: left;}
.page-template-register_form input[type=text], .page-template-register_form input[type=number], .page-template-register_form textarea {margin-bottom: 10px; border: 1px solid #000}
.page-template-register_form input[type=text], .page-template-register_form input[type=number] {height: 25px;}
.page-template-register_form textarea {height: 50px;}
.page-template-register_form label {margin-bottom: 5px; color: #000;}
.page-template-register_form label[required]:after, form .required:after {color: #e32; content: ' *'; display: inline-block;}
.page-template-register_form span {color: #000;}
.saleAreaSize {width: 330px;}
.saleAreaSize label {width: 100%;}
.saleAreaSize .areawidth, .saleAreaSize .areadepth {width: 48%; float: left;}
.saleAreaSize .areawidth {margin-right: 2%;}
.saleAreaSize span {display: inline-block; margin: 6px 5px;}
.saleAreaSize input[type=number] {width: 40px; clear: none;}
.saleAreaSize.salePlaces {width: 100%;}
.paymentInfo {float: left;}
.paymentInfo span {display: block;}
.salePlaces .before {float: left;}
.saleAreaSize.salePlaces input[type=text] {clear: none;}
.saleAreaSize.salePlaces span {float: left;}
.salePlaces .singlePlace {width: 100%; float: left; margin: 5px 0;}
.singlePlace input[type=text] {margin-bottom: 0;}
.formFooter input[type=checkbox] {clear: left;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

form .container {display: block; position: relative; width: 90%; padding-top: 5px; padding-left: 35px; margin-bottom: 15px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
form .container input {position: absolute; opacity: 0; cursor: pointer;}
.checkmark {position: absolute; top: 0; left: 0; height: 23px; width: 23px; background-color: #fff; border: 1px solid #000;}
.checkmark:after {content: ""; position: absolute; display: none;}
form .container input:checked ~ .checkmark:after {display: block;}
form .container .checkmark:after {top: 3px; left: 3px; width: 17px; height: 17px; border-radius: 50%; background: #000;}


input[value = 0] {
	display: none;
  }






.searchContainer h3 {font-size: 32px;}
.searchContainer a {font-size: 16px;}

section .cs-75 {margin: 50px 0px;}

.hidden {display: none;}

@media screen and (max-width: 1800px) {
	.wrapper {width: 85%;}
	#header .wrapper {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
	/*#header img {width: 20%;}*/
	.menu-main-menu-est-container {margin-left: 0;}
	.menu-main-menu-est-container ul {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}
	/*#header .links {width: 20%;}*/
	#header .links img {width: 100%;}
	.menu-main-menu-est-container ul li {margin-right: 7px; margin-left: 7px;}
	.frontpage_events_container {width: 40%;}
	.frontpage_event_single {width: 40%; margin: 5%;}
	.frontpage_event_single:nth-child(2) {margin: 5%;}
	.frontpage_event_single .event-side {width: auto;}
	.frontpage_event_single .event-side:nth-child(1) {width: 100%;}
	.frontpage_event_single img {width: 100%;}
	.event-item {width: 33.3%; margin-right: 0;}
	.post_thumbnail_image img {width: 80%;}
}

@media screen and (max-width: 1400px) {
	.wrapper {width: 90%;}
}

@media screen and (max-width: 1250px) {
	.footer_menu, .footer_menu .menu-footer-menu-est-container, .menu-footer-menu-est-container ul {width: 100%;}
	.menu-footer-menu-est-container > ul {display: flex; flex-flow: row wrap;}
	.menu-footer-menu-est-container > ul > li {width: 25%; margin: 0; text-align: center;}
	.menu-footer-menu-est-container > ul > li > a {float: none;}
	.menu-footer-menu-est-container > ul > li > ul {margin-top: 25px;}
	.menu-footer-menu-est-container > ul > li > ul > li {float: none;}
	.menu-main-menu-est-container ul li a {font-size: 18px;}
	.link_to_paide_theater {font-size: 20px;}
	#header .wrapper > a {width: 200px;}
	.frontpage_events_container {width: 35%;}
	.event-item {width: 50%;}
	.frontpage_event_single .post_thumbnail_image {width: 100%;}
	.page-id-44 section .entry > p {width: 48%;}
}

@media screen and (max-width: 1150px) {
	ul.dates {margin-top: 40px;}
	ul.dates li {display: block; float: left;}
	ul.dates li a {padding: 5px; width: auto;}
	.frontpage_events_header h3 {margin: 11px 5%; font-size: 20px;}
}

@media screen and (max-width: 1050px) {
	.wrapper {width: 95%;}
}

@media screen and (max-width: 950px) {
	.mobile-menu-btn {display: block; z-index: 8; cursor: pointer; position: fixed; top: 3%; right: 3%; width: 44px; height: 44px; padding: 0; border: 0; background: none; background-color: #fff; border-radius: 0;}
	.mobile-menu-btn span {position: absolute; right: 9px; left: 9px; height: 2px; background: #9cd0d6; -webkit-transition: all 200ms ease; transition: all 200ms ease; -webkit-transform-origin: center; transform-origin: center;}
    .mobile-menu-btn span:nth-child(1) {top: 13px;}
    .mobile-menu-btn span:nth-child(2) {top: 50%; -webkit-transform: translateY(-1px); transform: translateY(-1px);}
    .mobile-menu-btn span:nth-child(3) {bottom: 13px;}
    .mobile-menu-btn.open span:nth-child(1) {top: 50%; -webkit-transform: rotate(45deg) translateY(-1px); transform: rotate(45deg) translateY(-1px);}
	.mobile-menu-btn.open span:nth-child(2) {opacity: 0;}
	.mobile-menu-btn.open span:nth-child(3) {bottom: 50%; -webkit-transform: rotate(-45deg) translateY(1px); transform: rotate(-45deg) translateY(1px);}
    #sidebar-menu{display: none;}
    #sidebar-menu.open {display: block; position: fixed; width: 100%; height: 100%;top: 0; left: 0; padding: 0; margin: 0; z-index: 7; background: #9cd0d6;}
    #sidebar-menu .menu-side-menu-est-container > ul {flex-direction: column; text-align: center; margin-top: 30%;}
	#sidebar-menu .sub-menu {margin: 0; float: none; max-height: 0; overflow: hidden; transition: max-height .5s ease-in-out;}
	#sidebar-menu .subMenuOpen .sub-menu {max-height: 200px;}
	#sidebar-menu ul li {margin: 15px; position: relative;}
    #sidebar-menu ul li a, #sidebar-menu ul > li > ul > li > a {color: #fff; font-size: 24px;}
    #sidebar-menu ul > li.current_page_item > a, #sidebar-menu ul > li > a:hover {color: #fff; border-bottom: 3px solid #fff;}
    #sidebar-menu .menu-item-has-children ul.sub-menu > li > a {font-size: 20px;}
    #sidebar-menu .menu-item-has-children > span.arrow {position: absolute; top: 8px; margin-left: 10px;border: solid #fff; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transition: .3s ease-in-out; cursor: pointer;}
    #sidebar-menu .menu-item-has-children.subMenuOpen > span.arrow {transform: rotate(45deg); -webkit-transform: rotate(45deg);}
	.column.cs-75 {width: 100%; margin: 35px 0 0;}
	.column.cs-80 {width: 100%; margin: 35px 0 0;}
	.column.cs-17 {width: 250px;}
	.selected_events {margin: 0;}
	.menu-main-menu-est-container {width: 100%; margin: 30px 0;}
	ul.dates li a {font-size: 16px;}
	section > .wrapper, body > .wrapper {display: flex; flex-direction: column-reverse; align-items: flex-end;}
	.wrapper #sidebar {margin-top: 15px;}

	#header .links a {clear: none;}
	.link_to_paide_theater {margin-top: 0; margin-right: 20px;}
}

@media screen and (max-width: 950px) {
	.fairsInfo {display: flex; flex-direction: row; flex-wrap: wrap;}
	.fairsInfo p {width: 50%;}
}

@media screen and (max-width: 650px) {
	.frontpage_events_container {float: none; margin: 0 auto 30px; overflow: hidden; width: 80%; border-top: 20px solid #93d0d5; border-right: 20px solid #93d0d5;}
	.frontpage_events_container:nth-child(2n+2) {float: none;}
	.type-theater {border-left: 20px solid #915f35; border-bottom: 20px solid #915f35;}
	.type-concert {border-left: 20px solid #e61a72; border-bottom: 20px solid #e61a72;}
	.type-cultural {border-left: 20px solid #002b8a; border-bottom: 20px solid #002b8a;}
	.type-cinema {border-left: 20px solid #961a80; border-bottom: 20px solid #961a80;}
	.type-miscellaneous {border-left: 20px solid #00b7e3; border-bottom: 20px solid #00b7e3;}
	.type-exhibition {border-left: 20px solid #f49d00; border-bottom: 20px solid #f49d00;}
}

@media screen and (max-width: 600px) {
	.menu-footer-menu-est-container > ul > li {width: 50%; margin-bottom: 30px;}
}

@media screen and (max-width: 500px) {
	.fairsInfo p {width: 100%;}
}

@media screen and (max-width: 450px) {
	#calendar div.header span.title {position: absolute; display: block; width: 100%; margin-top: 25px;}
	#calendar .box-content {margin-top: 25px;}
	.frontpage_event_single {width: 90%; margin: 5%;}
	.event-item {width: 100%;}
	.event-side, .event-side:nth-child(2) {width: 100%; margin: 10px 0 0; text-align: center;}
	.event-side .post_thumbnail_image {margin: 0 auto 15px;}
	.event-side .event-buy-ticket {float: none;}
	.event-side .event-date, .event-side .event-time {display: block; float: none;}
	.page-id-44 section .entry > p {width: 100%; margin: 0 0 20px;}
}

@media screen and (max-width: 350px) {
	#header .wrapper > a {width: 60%;}
	.all_events_btn {font-size: 16px; padding: 9px 50px;}
}





.slider-wrap {
  width: 100%;
  float: left;
}
.slider {
  overflow-x: hidden;
}
.holder {
  width: 100%;
}
.slide {
  float: left;
  width: 100%;
  height: 230px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.temp {
  position: absolute;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-weight: 100;
}

.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}
.slider-nav {
  text-align: center;
  margin: 10px 0 0 0;
}
.slider-nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}
.slider-nav a.active {
  background: #999;
}










